<html>
<head>
  <title>Heat Pump Control</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
<h1>The Dewar's Super Duper Home Automation System</h1>

<h2>Heat Pump</h2>
<form method="post" action="/">
  <input type="hidden" name="device" value="H" />
  <button type="submit" name="message" value="1">On</button>
  <button type="submit" name="message" value="0">Off</button>
</form>

<h2>Switch</h2>
<form method="post" action="/">
    <input type="hidden" name="device" value="S2" />
    <button type="submit" name="message" value="1">On</button>
    <button type="submit" name="message" value="0">Off</button>
</form>

Dedicated to Rachel Dewar (super wife)

</body>
</html>

