/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.mobile
 *= require_tree .
 */

.container {
    margin: 20px;
}

.device {
    width: 33%;
    float: left;
}
.scheduling {
    padding-left: 10px;
    width: 66%;
    float: left;
}

@media screen and (max-width: 480px) {
    .device, .scheduling {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

footer {
    clear: both;
}

.well {
    background-color: #eaeaea;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.well h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.ui-controlgroup-controls
{
    display: table;
    width: 100%;
}

fieldset.no-radio{
    display: inline-block;
    width: 100px;
}
.no-radio .ui-radio {
    width: 100px;
}
.no-radio .ui-btn:after{
    display: none!important;
}
.no-radio .ui-btn-icon-left{
    padding-left: 1.5em;
}
