<!DOCTYPE html>
<html>
<head>
  <title>Dewar Home Control</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= yield %>

<p>Dedicated to the great Rachel Dewar, my lovely kind wife.</p>
</div>
</body>
</html>
